@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;600&family=Space+Mono&display=swap');
* {
   /* CSS HEX */
--eerie-black: #262220ff;
--rich-black-fogra-39: #0d0c0aff;
--cedar-chest: #c66153ff;
--bistre: #2d2118ff;
}

body {
    background-color: var(--cedar-chest);
    font-family: 'Roboto Slab', serif;
}

img {
    width: 1000px;
}

info{
color: var(--bistre);
}
form {
    font-weight: 600;
    color: var(--rust);
}