@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;600&family=Space+Mono&display=swap');
* {
   /* CSS HEX */
--eerie-black: #262220ff;
--rich-black-fogra-39: #0d0c0aff;
--cedar-chest: #c66153ff;
--bistre: #2d2118ff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cedar-chest);
    font-family: 'Roboto Slab', serif;
}

img {
    width: 30%;
    height: 10%

}

.info{
color: var(--bistre);
}
form {
    display: flex;
    border: solid 1px black;
    font-weight: 600;
    color: var(--rust);
    
}
.hide{
    display: none;
    
}

h1 {text-align: center;}

p {text-align:  center;}
